h3 {
    font-size: 70px;
    font-family: "Bodoni MT Poster";
}

.haikei {
    height: auto;
    background: linear-gradient(#000, #000, #707070);
    color: #fff;
}

.container {
    display: flex;
}

.posts-container {
    display: flex;
    justify-content: center;
    // justify-content: space-around;
    flex-wrap: wrap;
}

.post-container {
    justify-content: center;
    // justify-content: space-around;
    margin: 0.5%;
    .okawa {
        max-width:30em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 1.5%;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}

    .okawa {
        max-width:30em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        margin-left: auto;
        margin-right: auto;
    }