h3 {
    font-size: 70px;
    font-family: "Bodoni MT Poster";
}

.haikei {
    height: auto;
    background: linear-gradient(#000, #000, #707070);
    color: #fff;
}

.container {
    display: flex;
}

.posts-container {
    display: flex;
    justify-content: center;
    // justify-content: space-around;
    flex-wrap: wrap;
}

.post-container {
    justify-content: center;
    // justify-content: space-around;
    margin: 0.5%;
    .okawa {
        max-width:30em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 1.5%;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}

    .okawa {
        max-width:30em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        margin-left: auto;
        margin-right: auto;
    }

    // レスポンシブ対応
    @media screen and (max-width: 600px){
        // 動画
        .tatan {
            width: 250px;
            height: 150px;
        }
        .haikei {
            width: auto;
            height: auto;
        }
        .okawa {
            font-size: 50%;
            text-align: center;
        }

        .sarad {
            padding: 20px;
        }
        .sarad1 {
            padding-top: 40px;
            margin: 20px;
        }
        
        #nav-drawer {
            position: relative;
        }
        
        /*チェックボックス等は非表示に*/
        .nav-unshown {
            display:none;
        }
        
        /*アイコンのスペース*/
        #nav-open {
            display: inline-block;
            width: 30px;
            height: 22px;
            vertical-align: middle;
        }
        
        /*ハンバーガーの形をCSSで表現*/
        #nav-open span, #nav-open span:before, #nav-open span:after {
            position: absolute;
            height: 3px;/*線の太さ*/
            width: 25px;/*長さ*/
            border-radius: 3px;
            background: #707070;
            display: block;
            content: '';
            cursor: pointer;
        }
        #nav-open span:before {
            bottom: -8px;
        }
        #nav-open span:after {
            bottom: -16px;
        }
        
        /*閉じる用の薄黒箇所*/
        #nav-close {
            display: none;
            position: fixed;
            z-index: 99;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: black;
            opacity: 0;
            transition: .3s ease-in-out;
        }
        
        /*メニューの中身*/
        #nav-content {
            overflow: auto;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 9999;
            width: 90%;
            max-width: 330px;/*最大幅（お好みで調整を）*/
            height: 100%;
            background: rgba(0, 0, 0, 0.788);
            transition: .3s ease-in-out;
            -webkit-transform: translateX(105%);
            transform: translateX(105%);
        }
        
        /*チェックがついたら表示させる*/
        #nav-input:checked ~ #nav-close {
            display: block;
            opacity: .5;
        }
        
        #nav-input:checked ~ #nav-content {
            -webkit-transform: translateX(0%);
            transform: translateX(0%);
            box-shadow: 6px 0 25px rgba(0,0,0,.15);
        }
        
        .header-logo-menu{
            display: flex;
            display: -moz-flex;
            display: -o-flex;
            display: -webkit-flex;
            display: -ms-flex;
            flex-direction: row;
            -moz-flex-direction: row;
            -o-flex-direction: row;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            background-color: #000;
            padding-right: 20px;
            padding-top: 20px;
            padding-bottom: 5px;
            flex-direction: row-reverse;
        }
        
        header{
            display: none!important;
        }
    }

    // header ul {
    //     display: flex;
    // }
    // header li {
    //     list-style: none;
    //     margin-right: 40px;
    // }
    .jagariko {
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        margin: 70px;
        .sarad {
            margin: 30px;
        }
    }
    header {
        padding:10px;
        background: #ccc;
    }

    @media screen and (min-width:767px) {
        #nav-drawer {
            display: none;
        }
    }