.top {
    height: auto;
    background: linear-gradient(#000, #000, #000, #000, #707070);
    color: #fff;
}

h4 {
    font-size: 40px;
    font-family: "Bodoni MT Poster";
}

/*footer{
    height: 30px;
    background-color: #707070;
    color: #fff;
    width: 100%;
    display: flex;
    position: fixed;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 0;
}*/